 {% extends "core/base.html" %} {% block title %} Add post | {% endblock title %} {% load static %}
<!--  -->
{% block content %}


<div class="container my-10">

    <div class="anti-flash-white hero_title-container__42UbM text-start" style="list-style: none;">
        Client Details
    </div>
    <hr>

    <ul>
        <li class="anti-flash-white">{{ client.user.first_name }}</li>
        <li class="anti-flash-white">{{ client.user.last_name }}</li>
        <li class="anti-flash-white">{{ client.user.email }}</li>
        <li class="anti-flash-white">{{ client.bio }}</li>
        <li class="anti-flash-white">{{ client.facebook_url }}</li>
        <li class="anti-flash-white">{{ client.twitter_url }}</li>
        <li class="anti-flash-white">{{ client.website_url }}</li>
    </ul>

</div>
{% endblock content %}