{% extends "core/base.html" %} {% block title %} Password Success | {% endblock title %} {% load static %}
<!--  -->
{% block content %}


<div class="container my-10">


    <div class="anti-flash-white hero_title-container__42UbM " style="list-style: none;">
        <h2 class="mb-4">Your Pasword was chaged successfully </h2>
        <h1 class="mb-4"><span style="color: var(--ls-alizarin);font-weight: 900;">{{user.first_name}} {{user.last_name}}</span></h1>

        <a href="{% url 'members:edit-profile' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
              </svg> Back to your profile page
        </a>


    </div>
    <hr>



</div>



{% endblock content %}