{% extends "core/base.html" %} {% block title %} Change Password | {% endblock title %} {% load static %}
<!--  -->
{% block content %}


<div class="container my-10">


    <div class="anti-flash-white hero_title-container__42UbM " style="list-style: none;">
        Change Password
    </div>
    <hr>

    <div class="form_post  change-pass">
        <div class="mt-5 form_style">
            <form method="Post">
                {% csrf_token %} {{ form.as_p }}

                <button class="btn btn-outline-light" style="min-width: 120px;">Change Password</button>
            </form>
        </div>
    </div>

</div>



{% endblock content %}