 {% extends "core/base.html" %} {% block title %} Home | {% endblock title %} {% load static %}
<!--  -->
{% block content %}

<div class="container-fluid px-0">
    <div class="hero_canvasImageContainer__WQ5Fy" style="background-image:url(../../static/img/The-Django-Stage.jpg);width: 100%;height: auto;">
        <!-- <img class="w-100" src="{% static 'img/The-Django-Stage.jpg' %}" alt="The Django stage"> -->
    </div>
</div>
<div class="container my-10 text-center">

    <div style="position: absolute;width: 100%;bottom: 0;width: 100%;left: 0;" class="text-center w-100">
        <h1 class="tangelo hero_title-container__41UbM">
            Liquid Spirit
        </h1>
    </div>
    <h3 class="anti-flash-white">
        Central Hub
    </h3>
</div>
{% endblock content %}