 {% extends "core/base.html" %} {% block title %} Update post | {% endblock title %} {% load static %}
<!--  -->
{% block content %} {% if user.is_authenticated %} {% if user.id == post.author.id %}

<div class="hub_005_width my-10">


    <li class="anti-flash-white hero_title-container__42UbM " style="list-style: none;">
        Update Post
    </li>
    <hr>

    <div class="form_post">
        <div class="mt-5 form_style">
            <form method="Post">
                {% csrf_token %} {{ form.as_p }} {{form.media}}

                <button class="btn btn-outline-light" style="min-width: 120px;">Update</button>
            </form>
        </div>
    </div>

</div>

{% else %}
<div class="container my-10 text-center">
    <h1 class="anti-flash-white">You are not allowed here!!!</h1>
</div>
{% endif %} {% else %}
<div class="container my-10 text-center">
    <h1 class="anti-flash-white">You are not allowed here!!!</h1>
</div>
{% endif %} {% endblock content %}