{% extends "core/base.html" %} {% block title %} Edit Profile | {% endblock title %} {% load static %}
<!--  -->
{% block content %} {% if user.is_authenticated %}
<div id="register-rx5" class="container my-10">

    <div class="row">
        <div class="col-lg-6 d-flex justify-content-center align-items-center">
            <h1 class="hero_title-container__43UbM tangelo">
                Basic info
            </h1>
        </div>
        <nav class="nav fixed-bottom d-flex justify-content-end">


            <a class="ms-2 mb-3" href="{% url 'members:info_profile' %}" style="color:var(--anti-flash-white); background-color:rgba(82, 0, 255, 0.82);text-align: center;padding: .375rem 1rem;border: 0;">Add delails</a>
            <a class="ms-2 mb-3" href="{% url 'members:change-password' %}" style="color:var(--anti-flash-white); background-color:rgba(82, 0, 255, 0.82);text-align: center;padding: .375rem 1rem;border: 0;">Change Password</a>

        </nav>
        <div class="col-lg-6">
            <div class="form_post">
                <div class="mt-5 form_style">
                    <style>
                        .helptext a {
                            display: none;
                        }
                    </style>

                    <form method="Post">
                        {% csrf_token %}
                        <p>@{{ user.profileinfo.bio }}</p>
                        {{ form.as_p }}

                        <div class="d-block">
                            <button class="btn btn-outline-light" style="min-width: 120px;">Update profile</button>
                            <br>
                            <br>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% else %}

    <div class="container my-10">
        <h1>
            You are not authenticated to visit this page!!!
        </h1>

    </div>
    {% endif %}

    <!-- <li class="anti-flash-white hero_title-container__42UbM " style="list-style: none;">
        Register
    </li> -->




</div>



{% endblock content %}